.categories {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

.categories h2 {
    font-family: "Vangeda-Regular", sans-serif;
    font-size: 40px;
    color: #000;
    line-height: 55px;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.categories .grille {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-items: center;
}

.categories .card {
    height: 400px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0;
    border: 0;
    margin-bottom: 2rem;
}

.categories .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.categories .card .nom {
    color: #0F52BA;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Poppins", "Roboto", sans-serif;
    font-weight: 600;
}

.categories .card .text {
    font-family: "Vangeda-Regular", sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 30px;
    font-weight: bold;
}

.categories .card .description {
    font-family: "Poppins-Light", sans-serif;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.7px;
    line-height: 22px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    white-space: normal;
}